<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kumaduma.epicseveninfo">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:theme="@style/AppTheme">
        <service android:name="com.kumaduma.epicseveninfo.PopHead.PopHeadService"/>
        <activity
            android:name="com.kumaduma.epicseveninfo.Activity.SplashActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kumaduma.epicseveninfo.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kumaduma.epicseveninfo.Activity.CamperSelectActivity"
            android:label="@string/camper_select_activity"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name="com.kumaduma.epicseveninfo.Activity.SettingsActivity"
            android:label="@string/settings_activity_title"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name="com.kumaduma.epicseveninfo.Activity.HeroActivity"
            android:label="@string/hero_act_title">
        </activity>
        <activity
            android:name="com.kumaduma.epicseveninfo.Activity.ArtifactActivity"
            android:label="@string/art_act_title">
        </activity>
        <activity
            android:name="com.kumaduma.epicseveninfo.Activity.CatalystActivity"
            android:label="@string/cata_act_title">
        </activity>
        
        <activity android:name="com.kumaduma.epicseveninfo.PopHead.PopHeadMainActivity"
            android:theme="@style/Theme.AppCompat.Dialog" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>